{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
      <div class="col"></div>
  </div>
</div>
{% endblock %}


<!-- Hero section -->
{% block content %}
<div class="container-fluid container-fluid-hero">
    <div class="row">
        <div class="col-12 col-md-6 col-sm-6 hero-info">
            <h1 class="logo-font text-black text-1">
                    Boho Living.<br>Good vibes only!<br>
            </h1>
                <p class="text-2">Homedecor - Fashion - Free spirit</p>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn rounded-0 logo-font text-uppercase py-2 hero-text text-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div> 

    <!-- Home page text -->
    <div class="row home-text">
        <div class="col-12 home-page-text">
          <h3>Boho style is for the lovers of all things, travel, culture and a passion for life</h3>
            <p class="share-style">This free spirited lifestyle is reflected in the home with earthy colours, unique pieces and sets a very
                relaxed atmosphere.<br>
                The Boho interior is popular due to the fact there are no set rules when it comes to decorating.
                Boho Chic design <br>
                draws inspiration from the carefree, bohemian mystique of a world traveler.<br>
                This casual style exudes the eclectic vibes of collected treasures, blending old and new to create a unique,<br>
                lived-in look. Energetic colors, vintage decor, and layers of fringed throws add whimsy and comfort to this creative space.
            </p>
          </div>
        </div> 

    <!-- Carousel -->
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="media/carousel_1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
              <h4><strong>NEW ARRIVALS</strong></h4>
              <p>Carefully handpicked cool stuff arriving weekly.</p>
              <a href="{% url 'products' %}?category=new_in" type="button" class="btn btn-sm btn-carousel">Check them out!</a> 
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="media/carousel_3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
              <h4><strong>BOHO OUTLET</strong></h4>
              <p>Discover great prices on high-quality pieces.</p>
              <a href="{% url 'products' %}?category=outlet" type="button" class="btn btn-sm btn-carousel">Outlet</a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="media/carousel_2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
              <h4><strong>ACCESSORIES</strong></h4>
              <p>Express your personal style!</p>
              <a href="{% url 'products' %}?category=accessories" type="button" class="btn btn-sm btn-carousel">Check them out!</a>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>



{% endblock %}

