.order-history {
    max-height: 416px; /* height of profile form and submit btn */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #aab7c4;
 }

#profile-update-form input::placeholder {
    color: #aab7c4;
 }

 #id_default_country,
 #id_default_country option:not(:first-child) {
     color: #878a8d;
 }
 
 #id_default_country option:first-child {
     color: #aab7c4;
 }


 