<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Menu "Home" -->
        <li class="nav-item d-block">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5 font-toggle" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <!-- Menu "All Products" -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5 font-toggle" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!-- Menu "Home Decor" -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5 font-toggle" href="#" id="home_decor-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home Decor
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="home-decor-link">
                <a href="{% url 'products' %}?category=new_in_home" class="dropdown-item">New In Home Decor</a>
                <a href="{% url 'products' %}?category=furnitures" class="dropdown-item">Furnitures</a>
                <a href="{% url 'products' %}?category=decor" class="dropdown-item">Decor</a>
                <a href="{% url 'products' %}?category=textiles" class="dropdown-item">Textiles</a>
                <a href="{% url 'products' %}?category=incense" class="dropdown-item">Incense</a>
                <a href="{% url 'products' %}?category=new_in,furnitures,t-shirts,decor,textiles,incense" class="dropdown-item">All Home Decor</a>
            </div>
        </li>
        <!-- Menu "Fashion" -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 font-toggle" href="#" id="fashion-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fashion
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fashion-link">
                <a href="{% url 'products' %}?category=new_in_fashion" class="dropdown-item">New In Fashion</a>
                <a href="{% url 'products' %}?category=clothes" class="dropdown-item">Clothes</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=bags" class="dropdown-item">Bags</a>
                <a href="{% url 'products' %}?category=new_in,clothes,accessories,bags" class="dropdown-item">All Fashion</a>
            </div>
        </li>
        <!-- Menu "Outlet" -->
        <li class="nav-item">
            <a class="logo-font nav-link text-dark font-toggle" href="{% url 'products' %}?category=outlet" id="outlet-link">
                Outlet
            </a>
        </li>
        <!-- Menu "Blog" -->
        <li class="nav-item">
            <a class="logo-font nav-link text-dark font-toggle" href="{% url 'blog' %}" id="blog-link">BOHO Blog</a>
        </li>
        <!-- Menu "About" -->
        <li class="nav-item">
            <a class="logo-font nav-link text-dark font-toggle" href="{% url 'view_about' %}" id="about-link">About Us</a>
        </li>
    </ul>
</div>