{% extends "base.html" %}

{% block content %}

 
<div class="container container-bg blog-headline">
    <div class="row">
        <div class="col page-heading text-center">
            <h1>BOHO Living<span style="color:rgb(247, 162, 4);"> Community</span></h1>
                <p class="blog-text">If you are looking for ideas and inspiration on how to decorate your home,
                    then this is the best community for you. This community is simply a group of people who share
                    the same interests and passion for boho living!<br>Boho - it’s a word associated with French bohemia.
                    It mostly refers to freedom and combines nature-inspired elements like plants and animals,
                    as well a motives from other cultures. Boho chic decor often uses folklore decorations,
                    various patterns textures and colors.<br>Welcome! Get inspiration and nail the bohemian style in your home!</p>
                
            
            
        </div>
    </div>


<br>


            
        <!-- Blog feed -->
        <div class="left-column col-lg-7 offset-lg-1">
            <div class="blog-post-container">
                <p>Blog post</p>
            </div>

            <div class="blog-post-container">
                <p>Blog post</p>
            </div>

            <div class="blog-post-container">
                <p>Blog post</p>
            </div>


        </div>
        <!-- Create post col-->
        <div class="right-column col-lg-3 d-lg-flex d-none flex-column">
            <div class="create-post-bar">
                <p>Thingy</p>
                <p>Thingy</p>
                <p>Thingy</p>
            </div>
        </div>
            
        <!-- Create post bar -->
        <div class="create-post">
            <a href="{% url 'create' %}" class="btn btn-outline-dark">Create post</a>
        </div>


    </div>
</div>

<div class="container registered-users">
    <div class="d-flex justify-content-center flex_column">
        <p>Registered users:</p>
        {% for users in account %}
            <p>{{user}}</p>
        {% endfor %}
    </div>
</div>

{% endblock content %}
