{% extends "base.html" %}

{% block content %}

 
<div class="container container-bg blog-headline">
    <div class="row">
        <div class="col page-heading text-center">
            <h1>Boho Blog</h1>
                <p class="blog-text">Boho - it’s a word associated with French bohemia. It mostly refers to freedom and combines nature-inspired elements like plants and animals, as well a motives from other cultures. Boho chic decor often uses folklore decorations, various patterns textures and colors.</p>
                <!-- Create post bar -->
                <div class="create-post">
                    <a href="{% url 'create' %}" class="btn btn-outline-dark">Create post</a>
                </div>
            
            
        </div>
    </div>


<br>


            
        <!-- Blog feed -->
        <div class="left-column col-lg-7 offset-lg-1">
            <div class="blog-post-container">
                <p>Blog post</p>
            </div>

            <div class="blog-post-container">
                <p>Blog post</p>
            </div>

            <div class="blog-post-container">
                <p>Blog post</p>
            </div>


        </div>
        <!-- Create post col-->
        <div class="right-column col-lg-3 d-lg-flex d-none flex-column">
            <div class="create-post-bar">
                <p>Thingy</p>
                <p>Thingy</p>
                <p>Thingy</p>
            </div>
        </div>
            



    </div>
</div>

<div class="container registered-users">
    <div class="d-flex justify-content-center flex_column">
        <p>Registered users:</p>
        {% for users in account %}
            <p>{{user}}</p>
        {% endfor %}
    </div>
</div>

{% endblock content %}
