{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-7 offset-lg-1">
            <form action="{% url 'create' %}" class="create-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="add-bp">Add new blog post:</h2>
                <!-- title -->
                <div class="form-group1">
                    <label for="id_title">Title</label>
                    <input class="form-control mb-4" type="text" name="title" id="id_title" placeholder="Title" required
                        autofocus>
                </div>
                <!-- Body -->
                <div class="form-group">
                    <label for="id_body">Add a blog post</label>
                    <textarea class="form-control" rows="10" name="body" id="id_body"
                        placeholder="I love this boho inspired..." required></textarea>
                </div>
                <!-- Image -->
                <div class="form-group">
                    <label for="id_image"></label>
                    <p class="mb-1">Upload image</p>
                    <input type="file" name="image" id="id_image" accept="image/*" required>
                    <p class="preferred-size">Preferred size: Min height 100px, max height 600px.</p>
                </div>
                <!-- Submit btn -->
                <button class="submit-button btn btn-dark float-end mt-1 mb-4" type="submit">POST</button>
                <!-- Back btn -->
                <a href="{% url 'blog' %}"><button class="submit-button btn btn-outline-dark float-end mt-1 mb-4 mx-2" type="submit">Back to blog</button></a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}