{% extends "base.html" %}
{% load static %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script> <!-- EmailJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" 
            integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script> <!-- JQuery Form Validation -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script> <!-- Sweet Alert Import-->
    
    <script>
        (function() {
            emailjs.init("user_TMxBrvw73ZySzIBKjJ8E8");
        })();
    </script>
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

    <!-- About intro -->
{% block content %}
        <div class="container container-about">
            <div class="row about">
                <div class="col-12">
                    <h1 class="text-center">About Us</h1>
                        <p class="mb-1">At BOHO Living, we believe style is what you make it,
                           in life and at home. So we’re here to help you make it yours
                           – make it cozy, confident, moody, mixed – for way less than you thought possible.
                        </p>  
                        <div class="footer-arrow">➳</div>
                </div>
            </div>
        </div>
        <!-- Contact header -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center pb-2">Contact</h1>
                </div>
            </div>   
        </div>
       

        <!-- Contact Form -->
        <div class="row page-content">
            <div class="col-12 contact-form contact-text form-group">
                <form id="contactForm" aria-label="Contact Form">     
                    <select class="form-select mb-3 contact-style-input form-control" type="text" name="uselect" id="uselect" placeholder="Name" aria-label="Default select example" required>
                        <option value="" selected>Contact Reason</option>
                        <option value="1">Support</option>
                        <option value="2">Billing</option>
                        <option value="3">Other questions</option>
                    </select>                           
                    <input class="contact-style-input form-control" type="text" name="uname" id="uname" placeholder="Name" aria-label="Enter Name" required>
                    <input class="contact-style-input form-control" type="email" name="uemail" id="uemail" placeholder="Email" aria-label="Enter Email" required>
                    <textarea class="contact-style-input form-control" name="umessage" id="umessage" placeholder="Leave a message" aria-label="Enter Message" rows="4" required></textarea>
                    <input id="contactFormSubmit" type="submit" class="btn contact-btn" aria-label="Submit Button" value="Send">
                </form>
            </div>
        </div>
    </div>
        

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/contact_email.js' %}"></script>
{% endblock %}
