<!-- Bootstrap Toast -->
<div class="toast custom-toast rounded-0 border-top-0" role="alert" aria-live="assertive" aria-atomic="true" autohide="false">
    <!-- Toast styling-->
    <div class="arrow-up arrow-info"></div>
    <div class="w-100 toast-capper"></div>
    <!-- Toast header-->
    <div class="toast-header bg-white text-dark">
        <strong class="me-auto">Alert!</strong>
        <!-- Close btn -->
        <button type="button" class="btn-close ml-2 mb-1 text-dark" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <!-- Toast body -->
    <div class="toast-body bg-white">
        {{ message }}        
    </div>
</div>

